<ion-header>
  <ion-toolbar>
    <ion-button slor="start">
      <ion-back-button></ion-back-button>
    </ion-button>
    <ion-title>Detalhes</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content id="container">
  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" size-md="6">
        <ion-img  src="https://lumiere-a.akamaihd.net/v1/images/56015l10_bigsal_brazil_intpayoff_4x5_d4019af6.jpeg" ></ion-img>
      </ion-col>
      <ion-col size-xs="12"  size-md="6">
        
          
          <ion-list>
            <ion-item>
              <ion-label><b>Thor Amor e Trovão</b></ion-label>
            </ion-item>
            <ion-item>
              <ion-label><b>Categoria: </b> Filme</ion-label>
            </ion-item>
            <ion-item>
              <ion-label><b>Genero: </b>Ação</ion-label>
            </ion-item>
            <ion-item>
              <ion-label><b>Duração: </b> 159 minutos</ion-label>
            </ion-item>
          </ion-list>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="12">
        <ion-list-header>
          <ion-label><b>Descrição</b></ion-label>
        </ion-list-header>
        <ion-list>
          <ion-item>
            Thor: Amor e Trovão é quarta aventura solo de Thor (Chris Hemsworth), personagem da Marvel, sendo a sequência direta de Thor: Ragnarok e o 29º filme do Universo Cinematográfico Marvel. Após os acontecimentos de Ultimato, Thor ansiando por um propósito, retorna a Nova Asgard e sua aposentadoria é interrompida por um assassino galáctico conhecido como Gorr (Christian Bale), o Carniceiro de Deus, que busca a extinção dos deuses. Para combater a ameaça, Thor pede a ajuda da Rainha Valquíria (Tessa Thompson), Korg (Taika Waititi) e Jane Foster (Natalie Portman), sua ex-namorada, que - para surpresa de Thor - inexplicavelmente consegue empunhar seu martelo mágico, Mjolnir, o que imbuiu Jane com o poder de Thor. Juntos, eles embarcam em uma aventura cósmica para descobrir o mistério da vingança do God Butcher e detê-lo antes que seja tarde demais.
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  

</ion-content>
